{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'swal/sweetalert2.css' %}">
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}

<section class="content-header">
    <div class="row">
        <!-- Horizontal Form -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-edit"></i><b> Tambah Barang Masuk</b></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-9 col-xs-9 col-lg-9">
            <form action="" id="form1" method="POST" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nm_barang" class="col-sm-2 control-label">Nama Barang : </label>
                            <div class="col-sm-10">
                                {{form.nm_barang}}
                                {% if form.nm_barang.errors %}
                                <p style=" color: red; " >{{form.nm_barang.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="kd_barang" class="col-sm-2 control-label">Kode Barang : </label>
                            <div class="col-sm-10">
                                {{form.kd_barang}}
                                {% if form.kd_barang.errors %}
                                <p style=" color: red; " >{{form.kd_barang.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tgl_masuk" class="col-sm-2 control-label">Tanggal Masuk : </label>
                            <div class="col-sm-10">
                                <div class="input-group date">
                                    {{form.tgl_masuk}}
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                {% if form.tgl_masuk.errors %}
                                <p style=" color: red; " >{{form.tgl_masuk.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jumlah" class="col-sm-2 control-label">Jumlah : </label>
                            <div class="col-sm-3">
                                {{form.jml_masuk}}
                                {% if form.jml_masuk.errors %}
                                <p style=" color: red; " >{{form.jml_masuk.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="supplier" class="col-sm-2 control-label">Harga barang : </label>
                            <div class="col-sm-10">
                                {{form.harga_satuan}}
                                {% if form.sn_barang.errors %}
                                <p style=" color: red; " >{{form.harga_satuan.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="supplier" class="col-sm-2 control-label">Supplier : </label>
                            <div class="col-sm-10">
                                {{form.supplier_id}}
                                {% if form.supplier_id.errors %}
                                <p style=" color: red; " >{{form.supplier_id.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resi" class="col-sm-2 control-label">No Resi : </label>
                            <div class="col-sm-10">
                                {{form.no_resi}}
                                {% if form.no_resi.errors %}
                                <p style=" color: red; " >{{form.no_resi.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="merk" class="col-sm-2 control-label">Merk : </label>
                            <div class="col-sm-10" id="merk">
                                {{form.merk_id}}
                                {% if form.merk_id.errors %}
                                <p style=" color: red; " >{{form.merk_id.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenis" class="col-sm-2 control-label">Jenis : </label>
                            <div class="col-sm-10" id="jenis">
                                {{form.jenis_id}}
                                {% if form.jenis_id.errors %}
                                <p style=" color: red; " >{{form.jenis_id.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenis" class="col-sm-2 control-label">Tipe : </label>
                            <div class="col-sm-10" id="tipe">
                                {{form.tipe_id}}
                                {% if form.tipe_id.errors %}
                                <p style=" color: red; " >{{form.tipe_id.errors|striptags}}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_foto_masuk" class="col-sm-2 control-label">Foto : </label>
                            <div class="col-sm-10">
                                <div class="form-control">
                                    {{form.foto_masuk}}
                                    {% if form.foto_masuk.errors %}
                                    <p style=" color: red; " >{{form.foto_masuk.errors|striptags}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="col-md-3 col-xs-3 col-lg-3  pull-right" style="display: inline-block">
                <input type="submit" value="Tambah" name="s1" id='s1' class="btn btn-md btn-primary"></input>
                <br/>
                <br/>
                <input type="submit" value="Simpan dan Tambah" name="s2" id='s2' class="btn btn-md btn-success"></input>
                <br/>
                <br/>
                <a href="/inventaris/barangmasuk" class="btn btn-md btn-danger"><b>Kembali</b></a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block extrajs%}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script src="{% static 'swal/sweetalert2.all.js' %}"></script>
<script>
    $(function() {
        $('#s1').click(function(e){
            e.preventDefault();
            $.each($('input'),function(index,data){
                var id = $(data).attr('id');
                if (id == ""|| id == null ){
                    alert("Tolong di isi semua kolomnya!");
                    return false;
                }else{
                    var r = confirm("Apakan anda yakin?");
                    if (r == true) {
                        alert("Data Barang Berhasil di Tambah");
                        $('#form1').attr('action', "{% url 'barangmasuk_add' %}");
                        $('#form1').submit();
                    } 
                }
            });
            $('#s2').click(function(e){
                e.preventDefault();
                $.each($('input'),function(index,data){
                    var id = $(data).attr('id');
                    if (id == ""|| id == null ){
                        alert("Tolong di isi semua kolomnya!");
                        return false;
                    }else{
                        var r = confirm("Apakan anda yakin?");
                        if (r == true) {
                            alert("Data Barang Berhasil di Tambah");
                            $('#form1').attr('action',  "{% url 'barangmasuk_addcreate' %}");
                            $('#form1').submit();
                        }
                    }
                });
            });
        });
    });
    
    $('#datepicker').datepicker({
        format : "yyyy-mm-dd",
        autoclose: true
    });
    
    $.each($('select'),function(index,data){
        var id = $(data).attr('id');
        $('#'+id).addClass('form-control selectpicker')
        $('#'+id).attr('data-live-search',true)
    });
</script>
{% endblock %}