{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}

<section class="content-header">
    <div class="row">
        <!-- Horizontal Form -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-edit"></i><b> Tambah Barang Masuk</b></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-9 col-xs-9 col-lg-9">        
            <form action="{% url 'barangmasuk_add' %}" method="POST" class="form-horizontal">
                {% csrf_token %}
               {{form.as_p}}
               <button type="submit"> TAMBAH </button> 
        </form>
    </div>
</section>
{% endblock %}
{% block extrajs%}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script>
    $('#datepicker').datepicker({
        format : "yyyy-mm-dd",
        autoclose: true
    });
</script>
{% endblock %}