{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}

<section class="content-header">
    <!-- Horizontal Form -->
    <div class="row">
        <div class="box box-danger col-md-12 col-xs-12 col-lg-12">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-edit"></i> Edit Barang Masuk <b> - {{barang_masuk.nm_barang}} </b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="col-md-9 col-xs-9 col-lg-9">         
                <form action="{% url 'barangmasuk_edit' pk=barang_masuk.pk %}" method="POST" class="form-horizontal"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nm_barang" class="col-sm-2 control-label">Nama Barang : </label>
                        <div class="col-sm-8">
                            {{form.nm_barang}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kodebarang" class="col-sm-2 control-label">Kode Barang : </label>
                        <div class="col-sm-8">
                            {{form.kd_barang}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tgl_masuk" class="col-sm-2 control-label">Tanggal Masuk : </label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                {{form.tgl_masuk}}
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sn_barang" class="col-sm-2 control-label">Serial Number : </label>
                        <div class="col-sm-8">
                            {{form.sn_barang}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jml_masuk" class="col-sm-2 control-label">Jumlah : </label>
                        <div class="col-sm-2">
                            {{form.jml_masuk}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="supplier_id" class="col-sm-2 control-label">Supplier : </label>
                        <div class="col-sm-8" id="supplier_id" >
                            {{form.supplier_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resi" class="col-sm-2 control-label">No Resi : </label>
                        <div class="col-sm-8">
                            {{form.no_resi}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="merk_id" class="col-sm-2 control-label">Merk : </label>
                        <div class="col-sm-8" id="merk_id">
                            {{form.merk_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jenis_id" class="col-sm-2 control-label">Jenis : </label>
                        <div class="col-sm-8" id="jenis_id">
                            {{form.jenis_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jenis_id" class="col-sm-2 control-label">Tipe : </label>
                        <div class="col-sm-8" id="tipe_id">
                            {{form.tipe_id}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gambar" class="col-sm-2 control-label">Gambar : </label>
                        <div class="col-sm-8">
                            {{form.foto_masuk}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pull-right">
                    <input type="submit" value="Edit" class="btn btn-lg btn-primary"></input>
                    <br/>
                    <br/>
                    <a href="/inventaris/barangmasuk/delete/{{ barang_masuk.id_brg_masuk }}" class="btn btn-lg btn-danger confirm-delete">Hapus</a>
                    <br/>
                    <br/>
                    <a href="/inventaris/barangmasuk" class="btn btn-lg btn-success"><b>Kembali</b></a>
                    <br/>
                    <br/>
                    <h4>Foto:</h4>
                    <img src="{{barang_masuk.foto_masuk.url}}" class="img-responsive" width="150" height="150" />
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs%}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script>
    $('#datepicker').datepicker({
        format : "yyyy-mm-dd",
        autoclose: true
    });
    
    $.each($('select'),function(index,data){
        var id = $(data).attr('id');
        $('#'+id).addClass('form-control selectpicker')
        $('#'+id).attr('data-live-search',true)
    });
    
    $('.confirm-delete').on('click', function(e) {
        return confirm('Apakah anda yakin ingin menghapus data tersebut?')
    })
</script>   
{% endblock %}