{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Barang Masuk</h1>
                    </div>
                    <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                        <input type="text" class="form-control" placeholder="Cari.....">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/barangmasuk/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        <a class="btn btn-primary pull-right" href="/inventaris/barangmasuk/list"><i class="fa fa-th-list"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <center>
                        <div class="pagination pagination-xs no-margin">
                            <a href="#">&laquo;</a>
                            <a href="#"><</a>
                            <a href="#">1</a>
                            <a href="#">/</a>
                            <a href="#">1</a>
                            <a href="#">></a>
                            <a href="#">&raquo;</a>
                        </div>
                    </center>
                    <br/>
                    <!-- KONTEN -->
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-lg-12">
                            <div class="box box-warning">
                                <br>
                                <div class="row">
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="container">
                                            <img src="/static/assets/images/logo.png" class="img-responsive" width="120" height="120" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="form-group">
                                            <h5><strong>Nama Barang :</strong></h5>
                                            <p>Mikrotik</p>
                                            <h5><strong>Kode Barang :</strong></h5>
                                            <p>BRG-1</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-4 col-lg-3">
                                        <div class="form-group">
                                            <h5><strong>Tanggal Masuk :</strong> 12-01-2019</h5>
                                            <h5><strong>Serial Number :</strong> 112233</h5>
                                            <h5><strong>Jumlah :</strong> 6</h5>
                                            <h5><strong>Supplier :</strong> Lorem</h5>
                                            <h5><strong>No Resi :</strong> 1234</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2 col-lg-2 pull-right">
                                        <form action="">
                                            <a class="btn btn-warning" href="/inventaris/barangmasuk/edit">Edit</a>
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END KONTEN  -->
                    <center>
                        <div class="pagination pagination-xs no-margin">
                            <a href="#">&laquo;</a>
                            <a href="#"><</a>
                            <a href="#">1</a>
                            <a href="#">/</a>
                            <a href="#">1</a>
                            <a href="#">></a>
                            <a href="#">&raquo;</a>
                        </div>
                    </center>    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}

{% endblock %}