{% extends  "layout/admin/base-admin.html" %}
{% load static %}
{% load humanize %}
{% block extrastyle %}
<style>
    
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Barang Retur</h1>
                    </div>
                    <form action="{% url 'barangretur_grid_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/barangretur/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        <a class="btn btn-primary pull-right" href="/inventaris/barangretur/list"><i class="fa fa-th-list"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_barang_masuk.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barang_masuk.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barang_masuk.number }} of {{ daftar_barang_masuk.paginator.num_pages }}.</span></li>
                                {% if daftar_barang_masuk.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- KONTEN -->
                    <div class="row">
                        {% if messages %}
                        <div class="col-sm-12">
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="icon fa fa-check"></i> {{ message }}</h4>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="col-sm-12 col-xs-12 col-lg-12">
                            {% if barang_masuk != None %}
                            <p style="display: inline-block">Hasil Pencarian : {{request.GET.cari}}</p>
                            {% endif %}
                            {% if daftar_barang_masuk %}
                            {% for barang_masuk in daftar_barang_masuk %}
                            <div class="box box-warning">
                                <br>
                                <div class="row">
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="container">
                                            {% if barang_masuk.foto %}
                                            <img src="{{barang_masuk.foto.url}}" class="img-responsive img-thumbnail" width="100" height="100" />
                                            {% else %}
                                            <img src="{% static 'assets/images/images.png' %}" class="img-responsive img-thumbnail" width="100" height="100" />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="form-group">
                                            <h5><strong>No Invoice :</strong></h5>
                                            <p>{{barang_masuk.no_bukti}}</p>
                                            <h5><strong>Kode Barang :</strong></h5>
                                            <p>{{barang_masuk.kd_barang}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-4 col-lg-3">
                                        <div class="form-group">
                                            <h5><strong>Nama Barang :</strong> {{barang_masuk.nm_barang}}</h5>
                                            <h5><strong>Tanggal :</strong> {{barang_masuk.tanggal}}</h5>
                                            <h5><strong>Supplier :</strong> {{barang_masuk.supplier_id}}</h5>
                                            <h5><strong>Merk :</strong> {{barang_masuk.merk_id}}</h5>
                                            <h5><strong>Jenis :</strong> {{barang_masuk.jenis_id}}</h5>
                                            <h5><strong>Tipe :</strong> {{barang_masuk.tipe_id}}</h5>
                                        </div>
                                    </div>
                                    {% if request.session.level == 'SuperAdmin' %}
                                    <div class="col-sm-2 pull-right">
                                        {% if forloop.first %}
                                        <a href="/inventaris/barangretur/edit/{{ barang_masuk.id_brg_retur }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                        {% endif %}
                                        <a href="/inventaris/barangretur/delete/{{ barang_masuk.id_brg_retur }}"" type="button" class="btn btn-sm btn-danger confirm-delete"><i class="fa fa-trash"></i></a>
                                        <!-- end modal -->
                                    </div>
                                    {% endif %}
                                </div>
                                <br/>
                            </div>
                            {% endfor %}
                            {% elif barang_masuk != None %}
                            <div class="box box-warning">
                                <br/>  
                                <span><center>Barang Tersebut tidak ada...</center></span>
                                <br/>
                            </div>
                            {% else %}
                            <div class="box box-warning">
                                <br/>  
                                <span><center>Tidak ada data barang retur saat ini...</center></span>
                                <br/>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--END KONTEN  -->
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_barang_masuk.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barang_masuk.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barang_masuk.number }} of {{ daftar_barang_masuk.paginator.num_pages }}.</span></li>
                                {% if daftar_barang_masuk.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barang_masuk.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
<script>
    $('.confirm-delete').on('click', function(e) {
        return confirm('Apakah anda yakin ingin menghapus data tersebut?')
    })
</script>
{% endblock %}