{% extends  "layout/admin/base-admin.html" %}

{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-edit"></i>
                    <h1 class="box-title">Tambah User</h1>
                </div>
                <div class="box-body">
                    <form action="/register" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        {{form.as_p}}
                        <!-- <div class="col-sm-8">
                            <br>
                            <div class="form-group">
                                <label for="nm_lengkap" class="col-sm-3 control-label">{{form.nm_lengkap.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.nm_lengkap}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-sm-3 control-label">{{form.username.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.username}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">{{form.password.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.password}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="level" class="col-sm-3 control-label">{{form.level.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.level}}
                                </div>
                            </div>
                            <div class="form-group col-md-4 pull-right">
                            -->
                            <p><label for="level">level:</label> 
                                <select class="form-control" id="level" name="level">
                                    <option value="Admin">Admin</option>
                                    <option value="SuperAdmin">SuperAdmin</option>
                                </select>
                            </p>
                            <input type="submit" value="Tambah" class="btn btn-warning confirm-add"></input>
                            <a href="{% url 'user' %}" type="button" class="btn btn-primary">Kembali</a>
                            <!-- </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs%}
    <script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        $('.confirm-add').on('click', function(e) {
            return confirm('Apakah anda yakin ingin menambah data tersebut?')
        })
    </script>
    <script>
        $('#datepicker').datepicker({
            autoclose: true
        });
    </script>
    {% endblock %}