{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}

<section class="content-header">
    <!-- Horizontal Form -->
    <div class="row">
        <div class="box box-info col-md-12">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-pencil"></i> Ubah Password <b> - {{ request.session.nm_lengkap }}</b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="col-md-9 col-xs-9 col-lg-9">        
                <form class="form-horizontal" action="{% url 'changepassword' pk=user.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        {{form.as_p}}
                        <!-- <div class="form-group">
                            <label for="Password" class="col-sm-3 control-label">{{form.password.label}} :</label>
                            <div class="col-sm-8">
                                {{form.password}}
                            </div>
                        </div> -->
                       <!--  <div class="form-group">
                            <label for="CPassword" class="col-sm-3 control-label">Confrim Password : </label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="CPassword">
                            </div>
                        </div> -->
                        <!-- <div class="col-md-offset-3 col-xs-offset-3 col-lg-offset-3"> -->
                            <input type="submit" value="Edit" class="btn btn-warning confirm-edit"></input>
                            <a href="{% url 'dashboard' %}" class="btn btn-md btn-primary"><b>Kembali</b></a>
                        <!-- </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs%}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script>
    $('#datepicker').datepicker({
        autoclose: true
    });
    $('#id_nm_lengkap,#id_email,#id_username').attr('readonly',true);
    // $('#id_level').prop('disabled',true);
</script>
{% endblock %}