{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Stok Barang</h1>
                    </div>
                    <div class="input-group input-group-md input-group-sm col-md-4 col-xs-6 col-lg-4 pull-left">
                        <input type="text" class="form-control" placeholder="Cari.....">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/stok/list"><i class="fa fa-list"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <center>
                        <nav aria-label="Page navigation example" style="display: inline-block">
                            <ul class="pagination pagination-lg pagination-sm pagination-md justify-content-center">
                                {% if daftar_stok.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_stok.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_stok.number }} of {{ daftar_stok.paginator.num_pages }}.</span></li>
                                {% if daftar_stok.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_stok.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_stok.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- KONTEN -->
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-lg-12">
                            {% if daftar_stok %}
                            {% for stok in daftar_stok %}
                            <div class="box box-warning">
                                <br>
                                <div class="row">
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="container">
                                            {% if stok.foto_stok %}
                                            <img src="{{stok.foto_stok.url}}" class="img-responsive img-thumbnail" width="100" height="100"/>
                                            {% else %}
                                            <img src="{% static 'assets/images/images.png' %}" class="img-responsive img-thumbnail" width="100" height="100" />
                                            {% endif %}
                                            <br/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-3 col-lg-2">
                                        <div class="form-group">
                                            <h5><strong>Nama Barang :</strong></h5>
                                            <p>{{stok.nm_barang}}</p>
                                            <h5><strong>Kode Barang :</strong></h5>
                                            <p>{{stok.kd_barang}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-4 col-lg-3">
                                        <div class="form-group">
                                            <h5><strong>Serial Number : </strong>{{stok.sn_barang}}</h5>
                                            <h5><strong>Jumlah Stok : </strong>{{stok.stok_akhir}}</h5>
                                            <h5><strong>Harga Satuan : </strong>{{stok.hrg_barang}}</h5>
                                            <h5><strong>Merk : </strong>{{stok.merk_id}}</h5>
                                            <h5><strong>Jenis : </strong>{{stok.jenis_id}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="box box-warning">
                                <br/>  
                                <span><center>Tidak ada data stok saat ini...</center></span>
                                <br/>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--END KONTEN  -->
                    <center>
                        <nav aria-label="Page navigation example" style="display: inline-block">
                            <ul class="pagination pagination-lg pagination-sm pagination-md justify-content-center">
                                {% if daftar_stok.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_stok.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_stok.number }} of {{ daftar_stok.paginator.num_pages }}.</span></li>
                                {% if daftar_stok.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_stok.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_stok.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}

{% endblock %}