{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/select2/3.5.2/select2.css">
{% endblock%}

{% block page_content %}
<section class="content-header">
    <h1>
        <i class="fa fa-edit"></i> Tambah Barang Keluar
    </h1>
</section>
<section class="content">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <form action="" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nobuktibeli" class="col-sm-3 control-label">No. Bukti Beli</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="nobuktibeli" placeholder="No. Bukti Beli">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="namabarang" class="col-sm-3 control-label">Cari Barang</label>
                                <div class="col-sm-9" id="namabarang">
                                    <select id="mySelect" style="width: 100%" onclick="myFunction()">
                                        {% if masuk %}
                                        <option value=" | | | | | | | ">Pilih Barang</option>
                                        {% for list_Masuk in masuk %}
                                        <option value="{{list_Masuk.nm_barang}}|{{list_Masuk.kd_barang}}|{{list_Masuk.sn_barang}}|{{list_Masuk.hrg_barang}}|{{list_Masuk.merk_id}}|{{list_Masuk.jenis_id}}|{{list_Masuk.tipe_id}}|{{list_Masuk.stok_akhir}}">{{list_Masuk.nm_barang}}</option>
                                        {% endfor %}
                                        {% else %}
                                        <option value=" | | | | | | | ">Tidak Ada barang Masuk</option>
                                        {% endif %}
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kodebarang" class="col-sm-3 control-label">Nama Barang</label>
                                <div class="col-sm-9">
                                    <input type="text" disabled class="form-control" id="demo"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kodebarang" class="col-sm-3 control-label">Kode Barang</label>
                                <div class="col-sm-9">
                                    <input type="text" disabled class="form-control" id="demo1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tanggalbarang" class="col-sm-3 control-label">Tanggal Keluar</label>
                                <div class="col-sm-9">
                                    <div class="input-group date">
                                        <input type="text" class="form-control pull-right" id="date" placeholder="Tanggal Keluar">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="serialnumber" class="col-sm-3 control-label">Serial Number</label>
                                <div class="col-sm-9">
                                    <input type="text" disabled class="form-control" id="demo2">   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jumlah" class="col-sm-3 control-label">Jumlah</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" min="1" id="jumlah" placeholder="Jumlah">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hargasatuan" class="col-sm-3 control-label">Harga Satuan</label>
                                <div class="col-sm-9">
                                    <input type="text" disabled class="form-control" id="demo3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="totalbayar" class="col-sm-3 control-label">Total Bayar</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" disabled id="totalbayar" placeholder="Total Bayar">
                                </div>
                            </div>
                        </div>
                        <!-- col ke 2 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer" class="col-sm-2 control-label">Customer</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="customer" placeholder="Customer">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="alamatcustomer" class="col-sm-2 control-label">Alamat Customer</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="alamatcustomer" rows="3" placeholder="Tulis alamat customer disini ..."></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="noresi" class="col-sm-2 control-label">No. Resi</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="noresi" placeholder="No. Resi">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="merk" class="col-sm-2 control-label">Merk</label>
                                <div class="col-sm-10" id="merk">
                                    <input type="text" disabled class="form-control" id="demo4">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="jenis" class="col-sm-2 control-label">Jenis</label>
                                <div class="col-sm-10" >
                                    <input type="text" disabled class="form-control" id="demo5">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jenis" class="col-sm-2 control-label">tipe</label>
                                <div class="col-sm-10" >
                                    <input type="text" disabled class="form-control" id="demo6">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="gambar" class="col-sm-2 control-label">Gambar</label>
                                <div class="col-sm-10">
                                    <input type="file" id="gambar">
                                </div>
                            </div>
                            <br>
                            <div class="form-group pull-right">    
                                <a href="#" type="button" class="btn btn-primary">Simpan</a>
                                <a href="#" type="button" class="btn btn-success">Simpan dan Tambah</a>
                                <a href="/inventaris/barangkeluar" type="button" class="btn btn-danger">Kembali</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="http://cdn.jsdelivr.net/select2/3.4.6/select2.min.js"></script>
<script type="text/javascript" src="http://globaltradeconcierge.com/javascripts/bootstrap.min.js"></script>
<script>
    $('#mySelect').select2({
        theme: "bootstrap 4"
    });
    // Autofill input by id
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        var y = x.split("|");
        var a = y[0];
        var b = y[1];
        var c = y[2];
        var d = y[3];
        var e = y[4];
        var f = y[5];
        var g = y[6];
        var h = y[7];
        $("#demo").val(a);
        $("#demo1").val(b);
        $("#demo2").val(c);
        $("#demo3").val(d);
        $("#demo4").val(e);
        $("#demo5").val(f);
        $("#demo6").val(g);
        
        $("#jumlah").attr({
            "max" : h
        });
    };
    
    // Auto total Bayar by id
    $("#jumlah").keyup(function(){
        var ambiljumlah = document.getElementById("jumlah").value;
        var ambilharga = document.getElementById("demo3").value;
        var jumlah = parseInt(ambiljumlah);
        var harga = parseInt(ambilharga);
        var total = harga*jumlah;
        $("#totalbayar").val(total);
    });
    // datepicker
    $('#date').datepicker({
        format : "yyyy-mm-dd",
        autoclose: true,
    });
</script>
{% endblock %}
