{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock%}

{% block page_content %}
<section class="content-header">
    <h1>
        <i class="fa fa-edit"></i> Tambah Barang Keluar
    </h1>
</section>
<section class="content">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <form action="" class="form-horizontal">
                    <div class="box-body">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nobuktibeli" class="col-sm-3 control-label">No. Bukti Beli</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="nobuktibeli" placeholder="No. Bukti Beli">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="namabarang" class="col-sm-3 control-label">Nama Barang</label>
                                <div class="col-sm-9" id="namabarang">
                                    
                                    <select id="mySelect" class="form-control" data-live-search="true" onclick="myFunction()">
                                        <option value=" | ">opsi</option>
                                        {% for list_Masuk in masuk %}
                                        <option value="{{list_Masuk.kd_barang}}|{{list_Masuk.sn_barang}}">{{list_Masuk.nm_barang}}</option>
                                        {% endfor %}
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kodebarang" class="col-sm-3 control-label">Kode Barang</label>
                                <div class="col-sm-9">
                                    <p class="form-control" id="demo"></p>   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tanggalbarang" class="col-sm-3 control-label">Tanggal Keluar</label>
                                <div class="col-sm-9">
                                    <div class="input-group date">
                                        <input type="text" data-date-format="dd/mm/yyyy" class="form-control pull-right" id="date" placeholder="Tanggal Keluar">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="serialnumber" class="col-sm-3 control-label">Serial Number</label>
                                <div class="col-sm-9">
                                    <p class="form-control" id="demo1"></p>   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jumlah" class="col-sm-3 control-label">Jumlah</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="jumlah" placeholder="Jumlah">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hargasatuan" class="col-sm-3 control-label">Harga Satuan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="hargasatuan" placeholder="Harga Satuan">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="totalbayar" class="col-sm-3 control-label">Total Bayar</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="totalbayar" placeholder="Total Bayar">
                                </div>
                            </div>
                        </div>
                        <!-- col ke 2 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer" class="col-sm-2 control-label">Customer</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="customer" placeholder="Customer">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="alamatcustomer" class="col-sm-2 control-label">Alamat Customer</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="alamatcustomer" rows="3" placeholder="Tulis alamat customer disini ..."></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="noresi" class="col-sm-2 control-label">No. Resi</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="noresi" placeholder="No. Resi">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="merk" class="col-sm-2 control-label">Merk</label>
                                <div class="col-sm-10" id="merk">
                                    <select  class="form-control selectpicker" data-live-search="true">
                                        <option value="">Option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="jenis" class="col-sm-2 control-label">Jenis</label>
                                <div class="col-sm-10" >
                                    <select class="form-control selectpicker" id="jenis" data-live-search="true">
                                        <option value="">Option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="gambar" class="col-sm-2 control-label">Gambar</label>
                                <div class="col-sm-10">
                                    <input type="file" id="gambar">
                                </div>
                            </div>
                            <br>
                            <div class="form-group pull-right">    
                                <a href="#" type="button" class="btn btn-primary">Simpan</a>
                                <a href="#" type="button" class="btn btn-success">Simpan dan Tambah</a>
                                <a href="/inventaris/barangkeluar" type="button" class="btn btn-danger">Kembali</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        var y = x.split("|")
        var a = y[0];
        var b = y[1];
        document.getElementById("demo").innerHTML = a;
        document.getElementById("demo1").innerHTML = b;
    }
</script>
<script>
    // datepicker
    $('#date').datepicker({
        autoclose: true,
    });
    
    $('#selectpicker').selectpicker();
</script>
{% endblock %}
