{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>
{% endblock%}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Barang Keluar</h1>
                    </div>
                    <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                        <input type="text" class="form-control" placeholder="Cari.....">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/barangkeluar/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        <a class="btn btn-primary pull-right" href="/inventaris/barangkeluar/list"><i class="fa fa-th-list"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <!-- pagination atas -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_barangkeluar.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barangkeluar.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barangkeluar.number }} of {{ daftar_barangkeluar.paginator.num_pages }}.</span></li>
                                {% if daftar_barangkeluar.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- pagination atas-->
                    <br/>
                    <!-- KONTEN -->
                    <div class="row">
                        <div class="col-sm-12">
                            {% if daftar_barangkeluar %}
                            {% for data in daftar_barangkeluar %}
                            <div class="box box-warning">
                                <br>
                                <div class="row">
                                    <div class="col-sm-2">
                                        {% if data.foto_keluar %}
                                        <img src="{{data.foto_keluar.url}}" class="img-responsive" width="150" height="150" />
                                        {% else %}
                                        <span class="text-muted" > Tidak ada Foto </span>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <h5><strong>Nama Barang</strong></h5>
                                            <p>{{data.nama_barang}}</p>
                                            <h5><strong>Kode Barang</strong></h5>
                                            <p>{{data.kode_barang}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5><strong>Tanggal Keluar : </strong></h5>
                                            <p>{{data.tanggal}}</p>
                                            <h5><strong>Serial Number: </strong></h5>
                                            <p>{{data.serialnumber}}</p>
                                            <h5><strong>Jumlah : </strong></h5>
                                            <p>{{data.jumlah}}</p>
                                            <strong><h5>Customer : </strong></h5>
                                            <p>{{data.customer_id}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5><strong>Alamat Customer : </strong></h5>
                                            <p>{{data.alamat_customer}}</p>
                                            <h5><strong>Nomor Resi : </strong></h5> 
                                            <p>{{data.no_resi}}</p>
                                            <h5><strong>No. Bukti Beli : </strong></h5>
                                            <p>{{data.no_bukti}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="/inventaris/barangkeluar/edit/{{ data.id_keluar}}" type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                                        <a href="/inventaris/barangkeluar/delete/{{ data.id_keluar }}" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="box box-warning">
                                <br/>  
                                <span><center>Tidak ada data barang masuk saat ini...</center></span>
                                <br/>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--END KONTEN  -->
                    <!-- pagination bawah -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_barangkeluar.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barangkeluar.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barangkeluar.number }} of {{ daftar_barangkeluar.paginator.num_pages }}.</span></li>
                                {% if daftar_barangkeluar.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- pagination bawah -->  
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}