{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block extrastyle %}
{% endblock %}

{% block page_content %}
<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-footer clearfix">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="box-title">Daftar Barang Keluar</h1>
                    </div>
                    <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                        <input type="text" class="form-control" placeholder="Cari.....">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="pull-right col-md-4">
                        <a class="btn btn-primary pull-right" href="/inventaris/barangkeluar/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        <a class="btn btn-primary pull-right" href="/inventaris/barangkeluar"><i class="fa fa-pencil-square-o"></i></a>
                    </div>
                    <br/>
                    <br/>
                    <!-- pagination atas -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_barangkeluar.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barangkeluar.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barangkeluar.number }} of {{ daftar_barangkeluar.paginator.num_pages }}.</span></li>
                                {% if daftar_barangkeluar.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- pagination atas-->
                    <br/>
                    <div class="col-sm-12">
                        <table id="data" class="table table-bordered table-striped table-responsive no-padding">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>No Bukti Beli</th>
                                    <th>Kode Barang</th>
                                    <th>Nama Barang</th>
                                    <th>Tanggal keluar</th>
                                    <th>Jumlah</th>
                                    <th>customer</th>
                                    <th>No Resi</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if daftar_barangkeluar %}
                                {% for data in daftar_barangkeluar %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.no_bukti }}</td>
                                    <td>{{ data.kd_brg_keluar }}</td>  
                                    <td>{{ data.nm_brg_keluar }}</td>
                                    <td>{{ data.tgl_keluar }}</td>
                                    <td>{{ data.jml_keluar }}</td>
                                    <td>{{ data.Customer }}</td>
                                    <td>{{ data.no_resi }}</td>
                                    <td>
                                        <!-- DELETE -->
                                        <a class="btn btn-danger" type="submit">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <!-- EDIT -->
                                        <a href="/inventaris/barangmasuk/edit" class="btn btn-info">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="9">
                                        <center>
                                            Tidak ada data barang keluar saat ini...
                                        </center>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- pagination bawah -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_barangkeluar.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_barangkeluar.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_barangkeluar.number }} of {{ daftar_barangkeluar.paginator.num_pages }}.</span></li>
                                {% if daftar_barangkeluar.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_barangkeluar.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- pagination bawah -->  
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    
    {% block extrajs %}
    
    {% endblock %}