{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock %}
{% block page_content %}

<section class="content-header">
    <!-- Horizontal Form -->
    <div class="box box-info col-md-12">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-print"></i><b> Cetak Invoice</b></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-9">        
            <form action="{% url 'print_invoice' %}" method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        <label for="caribarang" class="col-sm-3 control-label">Cari Invoice : </label>
                        <div class="col-sm-9" id="caribarang">
                            <select id="mySelect" name="mySelect" class="form-control selectpicker" style="width: 100%" >
                                <option value="">----- Pilih Invoice -----</option>    
                                {% if cari %}
                                {% for data in cari %}
                                <option value="{{data.no_bukti}}">{{data.no_bukti}}</option>
                                {% endfor %}
                                {% else %}
                                <option value="">Tidak Ada Data Barang Keluar</option>
                                {% endif %}
                            </select>                                        
                        </div>
                    </div>
                    <div class="col-md-offset-2">
                        <input type="submit" value="Cari" class="btn btn-primary"></input>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs%}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script>
    $.each($('select'),function(index,data){
        var id = $(data).attr('id');
        $('#'+id).addClass('form-control selectpicker')
        $('#'+id).attr('data-live-search',true)
    });

    $('#datepicker').datepicker({
        autoclose: true,
        format: "MM yyyy",
        startView: "months", 
        minViewMode: "months"
    });
</script>
{% endblock %}