{% extends  "layout/admin/base-admin.html" %}

{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-select.css">
{% endblock %}
{% block page_content %}

<section class="content-header">
    <!-- Horizontal Form -->
    <div class="box box-info col-md-12">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-print"></i><b> Cetak Laporan Stok</b></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-9">        
            <form action="{% url 'print_stok' %}" method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        <label for="tanggalmasuk" class="col-sm-2 control-label">Tanggal : </label>
                        <div class="col-sm-5">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="month" name="tanggal" date class="form-control pull-right" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="caribarang" class="col-sm-2 control-label">Jenis : </label>
                        <div class="col-sm-5" id="caribarang">
                            <select id="mySelect" name="mySelect" class="form-control selectpicker" style="width: 100%" >
                                <option value="">----- Pilih Jenis -----</option>    
                                {% if jenis %}
                                {% for data in jenis %}
                                <option value="{{data.id_jenis}}">{{data.nama_jenis}}</option>
                                {% endfor %}
                                {% else %}
                                <option value="">Tidak Ada Data Barang Keluar</option>
                                {% endif %}
                            </select>                                        
                        </div>
                    </div>
                    <div class="col-md-offset-2">
                        <input type="submit" value="Cari" class="btn btn-primary"></input>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="/static/assets/bootstrap/js/bootstrap-select.js"></script>
<script>
    $.each($('select'),function(index,data){
        var id = $(data).attr('id');
        $('#'+id).addClass('form-control selectpicker')
        $('#'+id).attr('data-live-search',true)
    });
</script>
{% endblock %}