{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content-header">
    <h1>
        <i class="fa fa-database"></i> Supplier
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                    <form action="{% url 'suplier_cari' %}" method="GET">
                        <div class="input-group input-group-md col-md-4 col-xs-6 col-lg-4 pull-left">
                            <input type="text" name="cari" value="{{request.GET.cari}}" class="form-control" placeholder="Cari ......">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                            </div>
                        <div class="pull-right col-md-4">
                            <a class="btn btn-primary pull-right" href="/inventaris/masterdata/supplier/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        </div>
                    </div>
                    <!-- pagination atas -->
                    <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_supplier.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_supplier.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_supplier.number }} of {{ daftar_supplier.paginator.num_pages }}.</span></li>
                                {% if daftar_supplier.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_supplier.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_supplier.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- end pagination atas -->
                    
                    <!-- konten -->
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="display: inline-block">Hasil Pencarian : {{key_suplier}}</p>
                            <table id="data" class="table table-bordered table-striped table-responsive no-padding">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>No HP</th>
                                        {% if request.session.level == 'SuperAdmin' %}
                                        <th>Aksi</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if daftar_supplier %}
                                    {% for supplier in daftar_supplier %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ supplier.nama_supplier }}</td>
                                        <td>{{ supplier.alamat_supplier }}</td>
                                        <td>{{ supplier.notlp_supplier }}</td>
                                        {% if request.session.level == 'SuperAdmin' %}
                                        <td><a href="/inventaris/masterdata/supplier/edit/{{ supplier.id_supplier }}" class="btn btn-info"><i
                                            class="fa fa-edit"></i></a>
                                            <a href="/inventaris/masterdata/supplier/delete/{{ supplier.id_supplier }}" class="btn btn-danger confirm-delete"><i
                                                class="fa fa-trash"></i></a>
                                            </td>
                                        {% endif %}
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="5"><center>Tidak ada data supplier saat ini...</center></td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end konten -->
                        
                        <!-- pagination bawah -->
                         <div style="text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-md justify-content-center">
                                {% if daftar_supplier.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_supplier.previous_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_supplier.number }} of {{ daftar_supplier.paginator.num_pages }}.</span></li>
                                {% if daftar_supplier.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_supplier.next_page_number }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_supplier.paginator.num_pages }}{% if request.GET.cari %}&cari={{ request.GET.cari }}{% endif %}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                        <!-- end pagination bawah -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        $('.confirm-delete').on('click', function(e) {
            return confirm('Apakah anda yakin ingin menghapus data tersebut?')
        })
    </script>
    {% endblock %}